.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    color: #ffff;
}


.navbar-brand {
    float: left;
    height: 70px;
    padding: 25px 15px;
    font-size: 28px;
    line-height: 20px;
}


.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size:18px;
}

body {
    position: relative;
    color:white;
  }
  
  h2
  {
      color:white;
  }